extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 #{__('forgot_password')}
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    p.pb-4 #{__('enter_your_email_address_below_and_we_will_send_you_password_reset_instructions.')}
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') #{__('email')}
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-primary(type='submit')
        i.fas.fa-key.fa-sm
        | #{__('reset_password')}
